:root {
  --primary: #3070af;
  --primary-light: #689ee1;
  --primary-dark: #00457f;
  --secondary: #e0e0e0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

/* home page  */
.training {
  padding: 1rem;
  border-radius: 0.5rem;
}

.training-content {
  display: none;
}
.training:hover {
  outline: 2px solid #3070af;
}

.measurement-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #635e58;
}

/* home page img zoom */

.img-container {
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 20px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
.img-container img {
  width: 100%;
  transition: transform 0.4s;
}

.img-container img:hover {
  transform: scale(1.5);
}

/* -------------------------------------------------------- */
/* each component title should have this class */
.page-title {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #689ee1;
  border-radius: 20px;
  text-align: center;
  padding: 4px;
  color: white;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}
/* activity Feed message date */
.message-date {
  font-weight: bold;
  font-size: 1.2em;
}

.message {
  font-size: larger;
}

/* message notification page */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.msg-clientlist {
  border: #2366b9 5px solid;
  padding: 4px;
  border-radius: 20px;
}

.msg-sender {
  text-align: start;
  color: white;
  background-color: #3070af;
  border-radius: 10px;
}

.msg-sender p {
  margin-right: 1px;
  padding: 3px;
}

.msg-sender span {
  margin-right: 1px;
}

.msg-receiver {
  text-align: end;
  background-color: #e0e0e0;
  border-radius: 10px;
  justify-content: end;
}

.msg-receiver p {
  margin-right: 1px;
  padding: 3px;
}
.msg-receiver span {
  margin-right: 1px;
}

.messages-list {
  width: 100%;
  justify-self: start;
  padding: 0;
}

.messages-list-item {
}

.inbox {
  text-align: center;
  border: #2366b9 5px solid;
  border-radius: 20px;
  text-align: center;
  max-height: 550px;
  padding: 1px;
  overflow: hidden;
  width: 100%;
}

.inbox-content {
  height: 550px;
  overflow-y: scroll;
  border-radius: 20px;
}

/* Profile page */

.profile-card {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.profile-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  padding: 10px;
}

.profile-card-details p {
  margin: 0;
  padding: 0;
}

.profile-card p {
  align-items: flex-start;
}

.profile-card .profile-image {
  border: #2779df 5px solid;
}

.profile-info {
  text-align: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  min-width: 100%;

}

.info-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.msg-error {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-align: center;
}

.account-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  padding: 10px;
}

.account-details p {
  margin: 0;
  padding: 0;
}

/* manage clients */
.container-manage-clients {
  display: flex;
  flex-direction: row;

  margin-top: "20px";
}

.client-list {
  border-radius: 20px;
  text-align: center;
}
.options-list {
  border-radius: 20px;
  text-align: center;

  border-radius: 20px;
}

.DragOn {
  border: 4px dotted red;
}

.ViewWorkoutSuperSet {
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  border: solid 5px black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.account-balance {
  text-align: center;
}



/* Calendar */

.container-calendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-calendar p {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;

  color: #2366b9;
}

p .title {
  font-size: 1rem;
  font-weight: bold;
}

p .info {
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(172, 29, 29);
}

.react-calendar {
  min-width: 300px;
  max-width: 100%;
  background: white;
  border: 3px solid #689ee1;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);

  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 1.2rem;
  padding: 5px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 66px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #c25656;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  height: 100px;
  overflow: hidden;
  /* min-width: 70px; */
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 10px;
}
.react-calendar__tile--now {
  background: #635e58;
  border-radius: 10px;
  font-size: 1rem;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #3070af;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--secondary);
}
.react-calendar__tile--active {
  background: var(--primary);
  color: white;
  border-radius: 10px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--primary-light);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* remove padding from  mui datagrid for small screens */
.css-19kzrtu {
  padding: 0 !important;
}

.msg-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.titleLabel {
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  margin-left: 4px;
}
.titleLabel a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

.spanInfo {
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--primary);
  align-items: flex-end;
  text-align: right;
  padding: 0;
}
