.links {
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    width: 100%;
}


.login-form {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}